<%= render 'shared/content_title', title: 'All Posts' %>


<% @posts.each do |post| %>
  <div class="row">
    <div id="notice_<%= post.slug %>" class='span6' style="display:none">
        <%= render :partial => 'layouts/messages' , :locals => { :flash => flash } %>
    </div>
    <div class="span6"></div>
  </div>
  </br>
  <%= render 'post', post: post %>
<% end %>
